.cards-container {
    display: flex;
    height: auto;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    width: 260px;
    background: #112949;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.card-row-1 {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
}

.icon img {
    width: 58px;
    height: 58px;
}

.title {
    color: #3CC3F2;
    font-size: 24px;
    flex-grow: 1;
}

.card-content {
    color: #FFFFFF;
    font: normal normal normal 16px/24px 'Exo 2.0', sans-serif;
    letter-spacing: 0px;
    padding-left: 20px;
}

.card-content p {
    margin: 0;
    line-height: 1.5;
}
